@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
     <table id="employeesTable" class="table table-bordered">
    <thead>
    <tr>
    <th>姓名</th>
    <th>年資</th>
    <th>薪水</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
    </table>
    <div id="Cards" class="card" style="width: 18rem;">
        <div class="card-body">
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Travel.js"></script>
    <script>
        console.log(spots);
        //JSON 由[]陣列 {}物件 構成

        // [index:value, index:value, index:value] {"key":value, "key":value}
        // [{"key":value, "key":value}, {"key":value, "key":value}]
        // {"key":[value, value, value]}

        //const datas = ["a","b","c"];
        //console.log(datas[1]);  //b
        //const data = {"name":"Jack","age":30};
        //console.log(data.name)

        //const emps = [{ "name": "Tom", "workYears": 3, "salary": 35000 },
        //{ "name": "Jack", "workYears": 5, "salary": 40000 },
        //{ "name": "Mary", "workYears": 7, "salary": 45000 }];

        //emps => array
        //console.log(emps[2]); //{ "name": "Mary", "workYears": 7, "salary": 45000 }
        //emps[2] => object
        //console.log(emps[2].salary);

        //for(let i=0,max=emps.length;i<max;i++){
        //console.log(emps[i].name)
        //console.log(emps[i].workYears)
        //console.log(emps[i].salary)
        //}

        const emp = {
            "employees": [
                { "name": "Tom", "workYears": 3, "salary": 35000 },
                { "name": "Jack", "workYears": 5, "salary": 40000 },
                { "name": "Mary", "workYears": 7, "salary": 45000 }
            ]
        };

        //for(let i = 0,max=emp.employees.length;i<max;i++){
        //    console.log(emp.employees[i].name)
        //    console.log(emp.employees[i].workYears)
        //    console.log(emp.employees[i].salary)
        //}

        //可用 解構賦值 改寫
        //emp.employees.forEach(theEmp=>{
        //    const{name,workYears,salary}=theEmp
        //    console.log(name)
        //    console.log(workYears)
        //    console.log(salary)
        //})

        //使用forEach顯示表格
        //let datas = ""
        //emp.employees.forEach(theEmp=>{
        //    const{name,workYears,salary}=theEmp;
        //    const data=`
        //    <tr>
        //        <td>${name}</td>
        //        <td>${workYears}</td>
        //        <td>${salary}</td>
        //    </tr>
        //    `;

        //    datas += data;
        //})
        //document.querySelector(`#employeesTable>tbody`).innerHTML = datas;

        //將forEach 改成 map
        //const datas = emp.employees.map(theEmp=>{
        //    const{name,workYears,salary}=theEmp;
        //    return(
        //        `
        //        <tr>
        //        <td>${name}</td>
        //        <td>${workYears}</td>
        //        <td>${salary}</td>
        //        </tr>
        //        `
        //    )
        //})
        //document.querySelector(`#employeesTable>tbody`).innerHTML = datas.join("");


        //const datas = spots.CommonFormat.Section.map(theCard =>{
        //    const image = spots.CommonFormat.Section[0].file.img.map(img=>img.text);
        //    const { stitle, xbody }=theTitle;
        //    return(`
        //     <div>
        //        <img src="${image}" class="card-img-top"}>
        //        <div class="card-body">
        //        <h5>${stitle}</h5>
        //        <p>${xbody}</p>
        //     </div>
        //     </div>
        //    `
        //    )
        //})
        //document.querySelector(`#Cards>div`).innerHTML = datas.join("");

        //let cards = "";
        //spots.CommonFormat.Section.forEach(theCard => {
        //    //console.log(theCard)
        //    const { xbody, stitle, file } = theCard
        //    let image = theCard.file.img;
        //    if(image.length>0)
        //    //console.log(xbody, stitle, file)
        //    const Card = `<div class="card" style="width: 18rem;">
        //                     <img src="${image}" class="card-img-top"}>
        //                      <h5>${stitle}</h5>
        //              <p>${xbody}</p>
        //               </div>
        //               `;
        //    cards += Card;
        //})
        //document.querySelector(`#Card-box`).innerHTML = cards

        //let cards = "";
        //spots.CommonFormat.Section.forEach(theCard => {
        //    const image = spots.CommonFormat.Section[0].file.img.map(img => img.text);
        //    const Cards = `<div class="card">
        //             <img src="${image[0]}" class="card-img-top"}>
        //              <h5>${spots.CommonFormat.Section[0].stitle}</h5>
        //              <p>${spots.CommonFormat.Section[0].xbody}</p>
        //               </div>
        //               `;
        //    cards = Cards;
        //})
        //document.querySelector(`#Cards>div`).innerHTML = cards

                //join的使用方法
                //const items = ["a","b","c"]
                //console.log(items.join("");  //abc
                //console.log(items.join("--"))  //a--b--c
    </script>
}

@section Styles{
    <style>
        h1 {
            background-color: lightblue
        }
    </style>
}